/* Set font and margin for the whole page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  /* Style the header */
  header {
    background-color: teal;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  /* Style the main content */
  main {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  /* Style headings */
  h1, h2 {
    margin-top: 30px;
  }
  
  /* Style unordered list */
  ul {
    margin-left: 30px;
  }
  
  /* Style links */
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  div.footer{
    background: teal;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: right;
  }

  div.footer a{
    color: black;
    margin-left: 30px;
    text-decoration: none;
  }
  
  div.footer a:hover{
    font-weight: bold;
    color: white;
    transition: 0.5s all;
  }
  